<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Rendering | VueJs</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
      <div class="heading">
          <label>Role</label>
          <button class="btn"><a href="soal2.html">Soal 2</a></button>
      </div>
      <select v-model="selectedRole">
        <option disabled value="">Pilih salah satu Role</option>
        <option value="1">Imposter</option>
        <option value="2">Crew</option>
      </select>
      
      <p v-if="selectedRole === '1'">Tugas Anda adalah untuk membunuh semua Crew</p>
      <p v-if="selectedRole === '2'">Anda Bertugas untuk menyelesaikan semua task dan jangan sampai terbunuh</p>

    </div>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

      <script>
        const { createApp, ref } = Vue;
      
        createApp({
          setup() {
            const selectedRole = ref('');
            return {
              selectedRole
            }
          }
        }).mount('#app');
      </script>
</body>
</html>